.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-54sw {
  background-color: #fff;
  border-color: inherit;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.tg .tg-9wq8 {
  border-color: inherit;
  text-align: center;
  vertical-align: middle;
}
.tg .tg-wa1i {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.tg .tg-2g1l {
  background-color: #fff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.tg .tg-za14 {
  border-color: inherit;
  text-align: left;
  vertical-align: bottom;
}
.tg .tg-nrix {
  text-align: center;
  vertical-align: middle;
}
.tg .tg-7zrl {
  text-align: left;
  vertical-align: bottom;
}
