body,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: transparent linear-gradient(180deg, #e6eaf2 0%, #ced2d9 100%) 0%
    0% no-repeat padding-box;
}
a {
  color: white !important;
}
.bg-primary {
  background: transparent linear-gradient(180deg, #e6eaf2 0%, #ced2d9 100%) 0%
    0% no-repeat padding-box;
  background-size: cover;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #124191;
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.font-baufraMedium {
  font-family: baufraMedium;
}
@font-face {
  font-family: trebuchet;
  src: url('./assets/font/Trebuchet_MS.ttf') format('truetype');
}
@font-face {
  font-family: baufraMedium;
  src: url('./assets//font/Baufra-Medium.ttf') format('truetype');
}
@font-face {
  font-family: baufraDemi;
  src: url('./assets/font/Baufra-DemiBold.ttf') format('truetype');
}
@font-face {
  font-family: nokiakokia;
  src: url('./assets/font/NokiaKokia.ttf') format('truetype');
}
.nokia-logo {
  font-family: nokiakokia;
  font-size: 2.15rem;
  color: white;
  letter-spacing: 2px;
}
.nav-title {
  font-family: Arial, Regualar;
  font-size: 1.75rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.font-white {
  color: #fff;
}
.font-green {
  color: green;
}
.font-red {
  color: red;
}
.white {
  color: #fff;
}
.bg-green {
  background-color: #33cc33;
}
.bg-red {
  background-color: #cc0000;
}
.bg-lite-red {
  background-color: #ff3333;
}
.bg-yellow {
  background-color: yellow;
  color: black;
}
.bt-blue {
  border-top: 1px solid rgb(18 65 145);
}
.bt-bottom {
  border-bottom: 5px solid rgb(18 65 145);
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.315) !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.mr-110px {
  position: absolute;
  right: 11%;
}
.bg-nokia-blue {
  background-color: #124191 !important;
}
.errorMessage {
  width: 100%;
  color: red;
  text-align: end;
  margin-top: -15px;
  margin-bottom: 5px;
  font-size: 0.9rem;
}
.error-bg {
  background: #ffdddd !important;
}
.fs-1x {
  font-size: 1.5rem !important;
}
.heading {
  font-family: trebuchet;
}
.h-90 {
  height: 90vh;
}
.secondary-bg {
  background-image: linear-gradient(
    to right bottom,
    #1c6cae,
    #0c69ba,
    #1265c5,
    #295fce,
    #2c46d4
  );
}
.grid-card {
  width: 300px;
  height: 200px;
  border-radius: 75px;
}
.bg-card {
  background: transparent
    radial-gradient(closest-side at 8% 10%, #81acf7 0%, #124191 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 10px 20px #00000066;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.step-continue-btn {
  background-image: linear-gradient(
    to right,
    #00cc33 0%,
    #00cc33 51%,
    #00cc33 100%
  );
  font: 1em arial;
  letter-spacing: 1px;
  margin: 10px;
  font-weight: 600;
  /* padding: 15px 45px; */
  height: 65px;
  width: 250px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  white-space: nowrap;
  border-color: transparent;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.step-continue-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.raise-issue-btn {
  background-image: linear-gradient(
    to right,
    #d31027 0%,
    #ea384d 51%,
    #d31027 100%
  );
  font-weight: 600;
  border-color: transparent;
  margin: 10px;
  font: 1em arial;
  letter-spacing: 1px;
  /* padding: 15px 45px; */
  height: 65px;
  width: 250px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.raise-issue-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
